
.about-container {
  font-family: "Arial", sans-serif;
  color: #222;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.about-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background: #f2f2f2;
  padding: 40px;
}

.about-image {
  width: 60%;
}

.about-text {
  width: 100%;
  padding: 20px;
}

.about-text h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column; 
  }

  .about-image {
    width: 80%; 
  }

  .about-content {
    padding: 30px;
    flex-direction: column;
    align-items: center;
  }

  .about-text h2 {
    font-size: 2.5rem; 
    text-align: center; 
  }

  .about-text p {
    font-size: 1rem; 
    text-align: center;
  }
}


@media (max-width: 480px) {

  .about-image {
    width: 100%; 
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin:none;
  }

  .about-text h2 {
    font-size: 2rem; 
  }

  .about-text p {
    font-size: 0.9rem;
    text-align: center;
  }
}