footer {
  background-color: black;
  color: #fff;
  padding: 80px;
  margin-top: 5%;
  font-size: 1rem;
}

footer h2 {
  font-size: 2rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

footer p {
  font-size: 1rem;
  margin: 5px 0;
  color: white;
  margin-top: 1%;
}

@media (max-width: 768px) {
  footer h2 {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}
