.main-header {
  display: flex;
  flex-direction: row;
}

.main-header h1 {
  margin: 0;
  padding: 10px 10px 20px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.main-header h1:hover {
  color: rgb(70, 75, 75);
}
